/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(247, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    
}
/* header */
.container-nav {
    display: flex;
    background-color: rgb(350, 350, 350); 
    background-color: #6961ff;
    font-family: 'sans-serif'; 
    padding-right: 15px; 
    margin: 0px ;
    box-shadow: 5px 15px 20px rgb(130, 128, 128);
}

.header-selection {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    color: #fff;
    font-size: 1;
    font-weight: 300;
    outline: 0;
    overflow: visible;
    padding: 0px;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.toggle-bttn:hover {
    width: 100px;
    height: auto;
    color: gold;
}

.button-box {
    display: flex;
    width: 209px;
    margin: 2px auto;
    position: absolute;
    box-shadow: 0 0 20px 9px #6b5b9b69;
    border-radius: 30px;
    right: 130px;
    top: 10px;
}

.toggle-bttn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #fffdfdc1, #1c1c1c7d);
    border-radius: 30px;
    transition: 0.5s;
}
/* Logo */
.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px ;
    margin: 0px 500px 0px 30px;
    color: hsla(0, 0%, 100%, 0.847);
    font-size: 50px;
    font-weight: 300;
    font-family: sans-serif;
}


/* search bar */
.search-container {
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: #6961ff;
}

.search {
    width: 650px;
    height: 50px;
    margin: 55px 0px 0px 650px;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 16;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);

}
/* Cart */
.cart-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 730px;
    height: 315px;
    padding: 160px 0px 500px 0px;
    margin: 0px 0px 500px 1000px;
    position: absolute;
    top: 50px;
    background-color: transparent;
}

.cart-container:hover .cart {
    opacity: 1;
  }

.icon {
    color: black;
    font-size: 40px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.fa-solid fa-cart-shopping fa-beat-fade:hover {
    color: #92a8d1;
}

/* main */
.-container- {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #ffffff52;
    padding: 2px 16px;
    color: white;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

.full-home-banner {
    display: flex;
    justify-content: center;
    width: 1424;
    height: 353;
    margin-top: 32px;
}

/* coupon */
.class-container {
    width: 100%;
    height: 55vh;
    background-color: f0fff3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-card {
    background: linear-gradient(135deg, #7158f3, #9d4de6);
    color: #fff;
    text-align: center;
    padding: 40px 80px;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
    position: relative;
}

.logo-coupon {
    width: 100px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.coupon-card h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}

.coupon-card p {
    font-size: 15px;
}

.coupon-row {
    display: flex;
    align-self: center;
    margin: 25px auto;
    width: fit-content;
}

#cpnCODE {
    border: 1px dashed #fff;
    padding: 10px 20px;
    border-right: 0;
}

#cpnBtn {
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 20px;
    color: #7158fe;
    cursor: pointer;
}

.circle1, .circle2 {
    background: rgb(247, 243, 243);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.circle1 {
    left: -25px;
}

.circle2 {
    right: -25px;
}
/* footer */
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;

}

.footer-col h4 {
    font-size: 18px;
    
}


