body {
    margin: 0;
}

.search {
    width: 450px;
    height: 20px;
    margin: 80px 0px 0px 650px;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 16;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);

}

.cart-container {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 950px;
    height: max-content;
    padding: 0px 0px 500px 0px;
    border:100px;
    margin: 0px 0px 500px 1000px;
}